<div class="container">
  <h2 class="title">ユーザー情報編集</h2>

  <div class="form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form__row">
      <%= f.label :email, class: 'form__label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form__field' %>
    </div>

    <div class="form__row">
      <%= f.label :password, class: 'form__label', value: '新しいパスワード' %>
      <%= f.password_field :password, autocomplete: "new-password", class:'form__field' %>
    </div>

    <div class="form__row">
      <%= f.label :password_confirmation, class: 'form__label' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form__field' %>
    </div>

    <div class="form__row">
      <%= f.label :current_password, class: 'form__label' %>
      <%= f.password_field :current_password, autocomplete: "current-password", class:'form__field' %>
    </div>

    <div class="actions">
      <%= f.submit "更新", class: 'btn btn__signup' %>
    </div>
  <% end %>

  <h3>アカウント削除</h3>

  <p>気にいりませんか？ <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "削除したアカウントはもとに戻せません。本当に削除してよろしいですか？" }, method: :delete, class: 'btn btn__destroy' %></p>

  <%= link_to "Back", :back %>
  </div>
</div>
