<div class="container">
  <h2 class="title">予約確認</h2>
  <%= render "shared/errors", obj:@reservation %>

  <div class="room__block">
    <div class="room__info">
      <div class="room__img-block">
        <%= image_tag "#{@room.image}", class: 'room-show__img' %>
      </div>
      <div class="room-show__text">
        <p class="name"><%= @room.name %></p>
        <p><%= @room.address %></p>
        <p><%= @room.introduction %></p>
      </div>
    </div>
    <div class="room__reservation">
      <p class="name">一人あたり ￥ <%= @room.price %> / 日</p>
      <div class="row">
        <p>開始日</p>
        <p><%= @request[:start_date] %></p>
      </div>
      <div class="row">
        <p>終了日</p>
        <p><%= @request[:end_date] %></p>
      </div>
      <div class="row">
        <p>使用日数：<%= @stay_days %> 日</p>
        <p>人数：<%= @request[:guests_num] %> 人</p>
      </div>
      <p>合計金額</p>
      <p class="name"><%= @room.price * @stay_days * @request[:guests_num].to_i %> 円</p>
      <%= form_with model: @reservation do |f| %>
        <%= f.hidden_field :start_date, value: @request[:start_date] %>
        <%= f.hidden_field :end_date, value: @request[:end_date] %>
        <%= f.hidden_field :guests_num, value: @request[:guests_num] %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "予約を確定する", class: 'btn btn__reserve' %>
      <% end %>
      <%= link_to 'ルーム詳細に戻る', @room %>
    </div>
  </div>
</div>
