<div class="container">
  <section class="reservation">
    <%= render "shared/errors", obj:@reservation %>
    <p>予約確認</p>
    <p>￥ <%= @room.price %> / 日</p>
    <p>開始日</p>
    <p><%= @request[:start_date] %></p>
    <p>終了日</p>
    <p><%= @request[:end_date] %></p>
    <p>使用日数：<%= @stay_days %> 日</p>
    <p>人数：<%= @request[:guests_num] %> 人</p>
    <p>合計金額</p>
    <p><%= @room.price * @stay_days %> 円</p>
    <%= form_with model: @reservation do |f| %>
      <%= f.hidden_field :start_date, value: @request[:start_date] %>
      <%= f.hidden_field :end_date, value: @request[:end_date] %>
      <%= f.hidden_field :guests_num, value: @request[:guests_num] %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "予約を確定する", class: 'btn btn__reservation' %>
    <% end %>
    <%= link_to 'ルーム詳細に戻る', @room %>
  </section>
</div>
