<div class="container">
  <%= render "shared/devise" %>
  <h2 class="title">ルーム一覧</h2>
  <p>
    <%= "エリア：#{params[:area]}" unless params[:area].nil? %>
    <%= "  キーワード：#{params[:keyword]}" unless params[:keyword].nil? %>
    <%= "  での検索結果 #{@rooms.count} 件" if @rooms && params[:area] && params[:keyword] %>
  </p>
  <div class="rooms">
  <% if @rooms %>
    <% @rooms.each do |room| %>
      <a href="/rooms/<%= room.id %>"  class="room__card">
          <%= image_tag "#{room.image}", class: 'room__img' %>
          <div class="room__text">
            <p class="name"><%= room.name %></p>
            <p><%= room.address %></p>
            <p>一人あたり ￥ <%= room.price %> / 日</p>
          </div>
      </a>
    <% end %>
  <% else %>
    <p>登録されている部屋はありません</p>
  <% end %>
  </div>
</div>
