<!DOCTYPE html>
<html>
  <head>
    <title>Poteshare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container header">
        <div class="header-left">
          <h1 class="header-logo"><%= link_to "Pote Share", :root %></h1>
          <div class="header-search">
          <%= form_with url: '/rooms', method: :get do |f| %>
            <%= f.text_field :area, class:'form__txt', size: 10, value: params[:area], :placeholder => "エリア" %>
            <%= f.text_field :keyword, class:'form__txt', size: 10, value: params[:keyword], :placeholder => "キーワード" %>
            <%= f.submit '検索', name: nil %>
          <% end %>
          </div>
        </div>
        <div class="header-right">
          <% if user_signed_in? %>
            <%= link_to "プロフィール編集", :edit_user_registration %>
            <%= link_to "ルーム登録", :new_room %>
            <%= link_to "ログアウト", :destroy_user_session, method: :delete %>
            <p class="user__name"><%= current_user.name %></p>
            <% if "#{current_user.avatar}".empty? %>
              <%= image_tag 'default.jpeg', class: 'user__img' %>
            <% else %>
              <%= image_tag "#{current_user.avatar}", class: 'user__img' %>
            <% end %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class:'btn btn__login'%>
            <%= link_to "登録", new_user_registration_path, class:'btn btn__register' %>
          <% end %>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
      <p>&copy; 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
